html, body {
  margin:0;
  padding:0;
  font-size: 100%;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  min-width: 600px;
  min-height: 500px;
}

.myName {
  color: #61A0D2;
  float: left;
  font-size: 2em;
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 0px;
  background-color: black;
  position: relative;
  transition: height 0.75s;
  border-bottom: 3px solid gray;
}

.loadHeader {
  height: 80px;
}

.belowHeader {
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.25s;
  width: 100%;
  height: 3px;
  background-color: gray;
}

.headerHolder {
  width: 100%;
  height: 80px;
}

.menuItems {
  float: right;
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.25s;
}

.menuItem {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 80px;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.menuItem > a,
.menuItem > a:link,
.menuItem > a:visited,
.menuItem > a:active {
  transition: color 0.5s;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
}

.menuItem > a:hover {
  text-decoration: none;
  color: #61A0D2;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
}

.menuHighlight {
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
  opacity: 0;
  background-color: #61A0D2;
  transition: all 0.25s;
}

.menuItem:hover > .menuHighlight {
  opacity: 1;
  bottom: -3px;
}

.contentHolder {
  position: fixed;
  top: 83px;
  bottom: 0;
  width: 100%;
}

.backgroundImageHolder {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.backgroundImage {
  opacity: 0;
  transition: opacity 0.5s ease 0.5s, right 0.75s ease 0s;
  position: absolute;
  top: 83px;
  bottom: 0;
  right: 0;
  width: 100%;
  background-image: url("../images/myself_bw.jpg");
  background-size: cover;
}

.moveImageRight {
  right: -20%;
}

.backgroundImageCover {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: 83px;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: black;
}

.bigText {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 0.0571429em;
  opacity: 0;
  font-size: 2.5em;
  font-size: 5vh;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 8%;
  transition: top 0.5s, opacity 0.5s;
  transition-delay: 1s;
}

.loadBigText {
  top: 30%;
  opacity: 1;
}

.aboutPanel {
  position: absolute;
  width: 65%;
  left: -65%;
  height: 100%;
  background-color: white;
  transition: left 0.75s;
  overflow: auto;
}

.loadAboutPanel {
  left: 0;
  border-right: 3px solid gray;
}

.aboutPanelContent {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.aboutPanelContent h2 {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin: 0 30px 0 30px;
  padding: 20px 10px 20px 10px;
  font-size: 24px;
  transition: border-bottom-color 0.5s;
  transition-delay: 0.75s;
}

.loadH2Line {
  border-bottom-color: lightgray !important;
}

.aboutPanelContent > p {
  padding: 0 40px 0 40px;
}

.triangleLeft {
  position: relative;
  display: inline-block;
  float: left;
  top: 40px;
  left: -40px;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
  border-left: 30px solid #61A0D2;
  transition: left 0.5s;
  transition-delay: 1s;
}
.loadTriangleLeft {
  left: 0;
}

.loadHalfOpacity {
  opacity: 0.5;
}

.loadOpacity{
  opacity: 1;
}
