.page {
  left: 0;
  right: 0;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
}

:global(.page-enter),
:global(.page-enter-active),
:global(.page-enter-done) {
  transition: opacity 0.25s;
  opacity: 1;
}

:global(.page-exit),
:global(.page-exit-active),
:global(.page-exit-done) {
  opacity: 0;
}