{
  "env": {
    "browser": true
  },
  "plugins": ["prettier"],
  "extends": ["prettier", "eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime"],
  "rules": {
    "prettier/prettier": ["error"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/prop-types": "off",
    "react/jsx-filename-extension": ["error", { "allow": "as-needed" }],
    "react/jsx-curly-brace-presence": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "overrides": [{
    "files": ["gatsby-config.js", "gatsby-node.js"],
    "env": {
      "node": true
    }
  }]
}