@import '../mixins.scss';

.hero {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  opacity: 0;

  @include animateOpacity(0.5s);

}

.playPause {
  background: none;
  border: none;
  color: white;
  position: absolute;
  right: 1em;
  bottom: 1em;
  transition: opacity 0.5s;
  z-index: 100;
  opacity: 0;
}

$bigTextStart: translateY(42vh);
$bigTextEnd: translateY(37vh);
.bigText {
  font-weight: 900; /* firefox fix */
  letter-spacing: 0.0571429em;
  opacity: 0;
  font-size: 2.5vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: $bigTextStart;
  text-transform: uppercase;
  color: white;
}

$moonStart: translate(-100%, -25%);
$moonEnd: translate(-45%, -45%);
$moonHide: translate(-100%, -100%);
.moon {
  position: absolute;
  width: 50%;
  min-width: 300px;
  transform: $moonStart;
}

$earthStart: translateY(100vh);
$earthEnd: translateY(85vh);
.earth {
  position: relative;
  width: 200%;
  transform: $earthStart;
  left: -50vw;
  z-index: 10;
}

.paused {
  animation-play-state: paused !important;
}

/*** STARS ***/

$screenSize: 4000;
$totalPixels: $screenSize * $screenSize;
$numFarStars:  0.00003 * $totalPixels;
$numMidStars:  0.000006 * $totalPixels;
$numNearStars: 0.000003 * $totalPixels;

@function generateBoxShadowDots ($numDots) {
  $value: '#{random($screenSize)}px #{random($screenSize)}px #FFF';
  @for $i from 2 through $numDots {
    $value: '#{$value} , #{random($screenSize)}px #{random($screenSize)}px #FFF';
  }

  @return unquote($value);
}

.farStars {
  $starsBoxShadow: generateBoxShadowDots($numFarStars);
  $starSize: 1px;

  width: $starSize;
  height: $starSize;
  box-shadow: $starsBoxShadow;

  @include animateLoop(farStars, #{$screenSize/20}s) {
    from { transform: translateY(0); }
    to { transform: translateY(-#{$screenSize}px); }
  }

  &:after {
    content: '';
    position: absolute;
    top: #{$screenSize}px;
    width: $starSize;
    height: $starSize;
    box-shadow: $starsBoxShadow;
  }
}

.midStars {
  $starsBoxShadow: generateBoxShadowDots($numMidStars);
  $starSize: 2px;

  width: $starSize;
  height: $starSize;
  box-shadow: $starsBoxShadow;

  @include animateLoop(farStars, #{$screenSize/40}s) {
    from { transform: translateY(0); }
    to { transform: translateY(-#{$screenSize}px); }
  }

  &:after {
    content: '';
    position: absolute;
    top: #{$screenSize}px;
    width: $starSize;
    height: $starSize;
    box-shadow: $starsBoxShadow;
  }
}

.nearStars {
  $starsBoxShadow: generateBoxShadowDots($numNearStars);
  $starSize: 3px;

  width: $starSize;
  height: $starSize;
  box-shadow: $starsBoxShadow;

  @include animateLoop(farStars, #{$screenSize/60}s) {
    from { transform: translateY(0); }
    to { transform: translateY(-#{$screenSize}px); }
  }

  &:after {
    content: '';
    position: absolute;
    top: #{$screenSize}px;
    width: $starSize;
    height: $starSize;
    box-shadow: $starsBoxShadow;
  }
}

/*** TRANSITIONS ***/

$enterExitSpeed: 1s;
$planetEnterExitTransition: transform $enterExitSpeed;
$bigTextEnterExitTransition: transform $enterExitSpeed, opacity $enterExitSpeed;

:global(.hero-appear) {
  opacity: 1;

  .bigText {
    transition: transform 1s 3s, opacity 1s 3s;
    transform: $bigTextEnd;
    opacity: 1;
  }

  .moon {
    transition: 5s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: $moonStart;
  }

  .earth {
    transition: transform 3s 2s ease-out;
    transform: $earthStart;
  }
}

:global(.hero-appear-active),
:global(.hero-appear-done),
:global(.hero-enter-active),
:global(.hero-enter-done) {
  .bigText {
    transform: $bigTextEnd;
    opacity: 1;
  }

  .moon {
    transform: $moonEnd !important;
  }

  .earth {
    transform: $earthEnd !important;
  }
}

:global(.hero-exit) {
  .bigText {
    transition: $bigTextEnterExitTransition;
    transform: $bigTextEnd;
    opacity: 1;
  }

  .moon {
    transition: $planetEnterExitTransition;
    transform: $moonEnd;
  }

  .earth {
    transition: $planetEnterExitTransition;
    transform: $earthEnd;
  }
}

:global(.hero-exit-active),
:global(.hero-exit-done) {
  .bigText {
    transform: $bigTextStart;
    opacity: 0;
  }

  .moon {
    transform: $moonHide;
  }

  .earth {
    transform: $earthStart;
  }
}

:global(.hero-enter:not(.hero-appear)) {
  .bigText {
    transition: $bigTextEnterExitTransition;
    transform: $bigTextEnd;
    opacity: 1;
  }

  .moon {
    transition: $planetEnterExitTransition;
    transform: $moonHide;
  }

  .earth {
    transition: $planetEnterExitTransition;
    transform: $earthStart;
  }
}

:global(.playPause-enter-active),
:global(.playPause-enter-done) {
  opacity: 1;
}