@import '../mixins.scss';

.hero {
  flex-grow: 1;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  opacity: 0;

  @include animateOpacity(0.5s, 0.5s);

  button {
    background: none;
    border: none;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
}

.bigText {
  font-weight: 900; /* firefox fix */
  letter-spacing: 0.0571429em;
  opacity: 0;
  font-size: 2.5em;
  font-size: 2.5vw;
  position: absolute;
  top: 42%;
  left: 50%;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 8px #33363b;

  @include animateForward(animateBigText, 1s, 1s) {
    to {
      top: 37%;
      opacity: 1;
    }
  }
}

.earth {
  position: relative;
  width: 200%;
  top: 100vh;
  left: -50vw;
  z-index: 10;

  @include animateForward(animateEarth, 3s, 0.5s, ease-out) {
    to { top: 75vh; }
  }
}

.paused {
  animation-play-state: paused !important;
}

/*** STARS ***/

$screenSize: 4000;
$totalPixels: $screenSize * $screenSize;
$numFarStars:  0.00003 * $totalPixels;
$numMidStars:  0.000006 * $totalPixels;
$numNearStars: 0.000003 * $totalPixels;

@function generateBoxShadowDots ($numDots) {
  $value: '#{random($screenSize)}px #{random($screenSize)}px #FFF';
  @for $i from 2 through $numDots {
    $value: '#{$value} , #{random($screenSize)}px #{random($screenSize)}px #FFF';
  }

  @return unquote($value);
}

.farStars {
  $starsBoxShadow: generateBoxShadowDots($numFarStars);
  $starSize: 1px;

  width: $starSize;
  height: $starSize;
  box-shadow: $starsBoxShadow;

  @include animateLoop(farStars, #{$screenSize/20}s) {
    from { transform: translateY(0); }
    to { transform: translateY(-#{$screenSize}px); }
  }

  &:after {
    content: '';
    position: absolute;
    top: #{$screenSize}px;
    width: $starSize;
    height: $starSize;
    box-shadow: $starsBoxShadow;
  }
}

.midStars {
  $starsBoxShadow: generateBoxShadowDots($numMidStars);
  $starSize: 2px;

  width: $starSize;
  height: $starSize;
  box-shadow: $starsBoxShadow;

  @include animateLoop(farStars, #{$screenSize/40}s) {
    from { transform: translateY(0); }
    to { transform: translateY(-#{$screenSize}px); }
  }

  &:after {
    content: '';
    position: absolute;
    top: #{$screenSize}px;
    width: $starSize;
    height: $starSize;
    box-shadow: $starsBoxShadow;
  }
}

.nearStars {
  $starsBoxShadow: generateBoxShadowDots($numNearStars);
  $starSize: 3px;

  width: $starSize;
  height: $starSize;
  box-shadow: $starsBoxShadow;

  @include animateLoop(farStars, #{$screenSize/60}s) {
    from { transform: translateY(0); }
    to { transform: translateY(-#{$screenSize}px); }
  }

  &:after {
    content: '';
    position: absolute;
    top: #{$screenSize}px;
    width: $starSize;
    height: $starSize;
    box-shadow: $starsBoxShadow;
  }
}
