/*** ANIMATIONS ***/

@mixin animate($name, $duration, $delay: 0s, $timingFn: ease) {
  animation: $name $duration $delay;
  animation-timing-function: $timingFn;

  @keyframes #{$name} {
    @content;
  }
}

@mixin animateLoop($name, $duration) {
  animation: $name $duration linear infinite;

  @keyframes #{$name} {
    @content;
  }
}

@mixin animateForward($name, $duration, $delay: 0s, $timingFn: ease) {
  animation: $name $duration $delay;
  animation-fill-mode: forwards;
  animation-timing-function: $timingFn;

  @keyframes #{$name} {
    @content;
  }
}

@mixin animateOpacity($duration, $delay: 0s) {
  @include animateForward(animateOpacity, $duration, $delay) {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

/*** MEDIA QUERIES ***/

@mixin smallScreen {
  @media only screen and (max-width: 650px) {
    @content;
  }
}

@mixin largeScreen {
  @media only screen and (min-width: 2000px) {
    @content;
  }
}