$backgroundColor: #1c1c1c;
$baseFontColor: white;
$linkColor: #7aa9e6;

// for use in JS
:export {
  bodyColor: $baseFontColor;
  headerColor: darken($baseFontColor, 10%);
  backgroundColor: $backgroundColor;
  linkColor: $linkColor;
}