$bodyColor: darken(white, 5%);
$headerColor: darken($bodyColor, 15%);
$backgroundColor: #1c1c1c;
$linkColor: #7aa9e6;

// for use in JS
:export {
  bodyColor: $bodyColor;
  headerColor: $headerColor;
  backgroundColor: $backgroundColor;
  linkColor: $linkColor;
}