$blackish: #1c1c1c;
$whitesque: darken(white, 5%);
$greige: #e3dfd9;
$bluey: #7aa9e6;
$sunny: #fffa75;

:root {
  --body-color: #{$blackish};
  --header-color: #{lighten($blackish, 15%)};
  --quote-color: #{lighten($blackish, 30%)};
  --background-color: #{$greige};
  --foreground-color: #{lighten($greige, 2.5%)};
  --link-color: #{darken($bluey, 10%)};
  --shadow-color: #{darken($greige, 10%)};
  
  --mun-color: #{$sunny};
  --mun-spot-color: #{$sunny};

  --theme-toggle-background-color: #{darken($greige, 10%)};
  --theme-toggle-foreground-color: #{$whitesque};
  --theme-toggle-text-color: #{$blackish};
  --theme-toggle-slider-color: #{$whitesque};
}

html[data-theme='dark'] {
  --body-color: #{$whitesque};
  --header-color: #{darken($whitesque, 15%)};
  --quote-color: #{darken($whitesque, 30%)};
  --background-color: #{$blackish};
  --foreground-color: #{lighten($blackish, 2.5%)};
  --link-color: #{$bluey};
  --shadow-color: #{darken($blackish, 5%)};

  --mun-color: #{$whitesque};
  --mun-spot-color: #{$greige};

  --theme-toggle-text-color: #{$whitesque};
  --theme-toggle-slider-color: #{$blackish};
}
