@import '../styles/mixins.scss';

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projectContainerOdd {
  position: relative;
  width: 100%;
}

.projectContainerEven {
  @extend .projectContainerOdd;

  .projectCardWrapper {
    transform: translate(100%, -50%);
    flex-direction: row-reverse;
  }
}

.projectCardWrapper {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;

  svg {
    flex: 1 0 75px;
  }
}

.projectCard {
  border: 1px solid transparent; // keep margin inside card
  border-radius: 7px;
  word-wrap: anywhere;
  flex: 1 1 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #222222;
}

.line {
  stroke-width: 1;
  stroke: gray;
  vector-effect: non-scaling-stroke;
}

.projectYear {
  position: relative;
  z-index: 50;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 50%;
  vertical-align: middle;
  padding: 0.5rem;

  &:before {
    content:'';
    float: left;
    width: auto;
    padding-bottom: 100%;
  }
}

@include smallScreen {
  .timeline {
    svg {
      display: none;
    }
  }

  .projectCardWrapper {
    position: static;
    display: block;
    top: none;
    transform: none !important;
    width: 100%;
    padding: 1em;
  }
}