@use '../styles/mixins.scss';

$greetingStart: translateY(42vh);
$greetingEnd: translateY(37vh);
$enterExitSpeed: 1s;

.greeting {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 50%;
  transform: $greetingStart;
  font-weight: 900; /* firefox fix */
  transition: transform $enterExitSpeed, opacity $enterExitSpeed;;
}

.bigText {
  text-align: center;
  letter-spacing: 0.0571429em;
  font-size: 2.5vw;
  text-transform: uppercase;
}

@include mixins.smallScreen {
  .greeting {
    position: static;
    text-align: center;
  }

  .bigText {
    // don't allow font size to shrink past small screen size
    font-size: 1rem;
  }
}

@include mixins.largeScreen {
  // don't allow font size to grow past large screen size
  .bigText {
    font-size: 56px;
  }
}

.actionsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.aboutLink {
  display: inline-block;
  color: var(--foreground-color);
  background-color: var(--link-color);
}

.contactLink {
  display: inline-block;
  border: 1px solid var(--link-color);
}

:global(.page-appear) {
  opacity: 1;

  .greeting {
    transition: transform 1s 3s, opacity 1s 3s;
    transform: $greetingEnd;
    opacity: 1;
  }
}

:global(.page-appear-active),
:global(.page-appear-done),
:global(.page-enter-active),
:global(.page-enter-done) {
  .greeting {
    transform: $greetingEnd;
    opacity: 1;
  }
}

:global(.page-exit) {
  .greeting {
    transform: $greetingEnd;
    opacity: 1;
  }
}

:global(.page-exit-active),
:global(.page-exit-done) {
  .greeting {
    transform: $greetingStart;
    opacity: 0;
  }
}

:global(.page-enter:not(.page-appear)) {
  .greeting {
    transform: $greetingEnd;
    opacity: 1;
  }
}