@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  z-index: 10; // appear above background stars

  @include animateForward(animateHeader, 0.75s) {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }
}

.name {
  font-size: 2vw;
  font-weight: bold;
  line-height: 50px;

  opacity: 0;
  @include animateOpacity(0.5s, 0.25s);

  a {
    transition: color 1s;
    color: white;
  }
}

.nameHome {
  @extend .name;

  a {
    color: $backgroundColor;
  }
}

.menu {
  position: relative;
  margin: 0;
  opacity: 0;
  display: flex;

  @include animateOpacity(0.5s, 0.25s);
}

.menuItem {
  display: inline-block;
  margin: 0;

  &:hover {
    background-color: hsla(0, 0%, 50%, 0.1);
  }

  & > a,
  & > a:link,
  & > a:visited,
  & > a:active {
    padding: 0 1rem;
    text-decoration: none;
    color: #eaeaea;
    height: 100%;
    align-items: center;
  }
}

.itemBig {
  display: flex;
}

.itemSmall {
  display: none;
}

.itemBig,
.itemSmall {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";

    position: absolute;
    display: none;
    opacity: 0;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    
    /* Center the ripple */
    top: 50%;
    left: 50%;

    @include animate(menuItemRipple, 1s) {
      from {
        opacity: 1;
        transform: scale(0);
      }
      to {
        opacity: 0;
        transform: scale(10);
      }
    }
  }

  &:focus:not(:active)::after {
    display: block;
  }
}

.selectedDecorator {
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  transition: all 0.25s;
  pointer-events: none;
}

// manage sizing of items in the top bar
@include smallScreen {
  .itemBig {
    display: none;
  }

  .itemSmall {
    display: flex;
  }

  // don't allow font size to shrink past small screen size
  .name {
    font-size: 1em;
  }
}

@include largeScreen{
  // don't allow font size to grow past large screen size
  .name {
    font-size: 50px;
  }
}